.simple-dropdown-container {
  width: 750px;
  margin: 0 auto;
  font-family: sans-serif;

  #dropdown-controls {
    margin-bottom: 20px;

    .toggler span {
      font-weight: bold;
    }
  }

  form {
    padding: 10px 0;
  }

  simple-dropdown.my-dropdown {
    display: block;
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid #ccc;
    padding: 2px;
  }

  td:first-child {
    text-align: right;
  }

  td:nth-child(2) {
    width: 100px;
  }

  .config-cell {
    font-weight: bold;
  }

  .value-displayer:empty {
    &::before {
      content: '"empty"';
    }
  }
}
